header {
    width: 50%;
    
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    height: 250px;
}
body {
    width: 100%;
    background-color: #4F4F4F;
}